:root{
    --vermelho-principal:  #8E2424;
    --cinza-principal:#667085;

}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    
}

.navegação{
    width: 1440px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
     
}

.menu{
    color: #667085;
    text-decoration: none;
    padding: 1em;
}

.texto-botao{
    color: #667085;
    background-color: white;
    border-radius: 8px;
    border-style: none;
    width: 88px;
    height: 44px;

}

.container__botao{
    display: flex;
    align-items: center;
}

.botao{
    background-color: #8E2424;
    color: white;
    border-radius: 8px;
    border-style: none;
    width: 100px;
    height: 44px;

}

.sobre{
    text-align: center;
    padding: 7em;
    margin:auto;
    width: 680px;
    
    
}

.sobrenos{
    color: var(--vermelho-principal);
    padding-bottom: 13px;

}

.titulo{
    font-size: 40px;
    color: black;
    padding: 15px 0 35px;
}

.sobre > p {
    color: var(--cinza-principal);
    font-size:16px;   
}

.metricas{
    display: flex;
    justify-content: center;
    
    
    
}

.metricas h2 {
    padding: 1em 0;
    font-size: 20px;
}

.metricas p{
    width: 300px;
    font-size: 16px;
    
}

.metricas p {
    color: var(--cinza-principal);
}

.container__div{
    padding: 0 3em  ;
}

.vagas{
    padding-top: 10em;
    text-align: center;
       
}

.vagas-abertas{
    
    text-align: center;
    font-size: 14px;
    color: var(--vermelho-principal);
       
}

.vagas h2{
    padding: 2rem;
    font-size: 32px;
}

.equipe{
    color: var(--cinza-principal);
    padding-bottom: 5em;
}

.vaga{
    margin: 0 auto;
    padding-left: 28em;


}

.vaga h1{
    font-size: 20px;
    padding: 4em 0;
    display: flex;
}

.titulo-vaga{
    padding: 30px;
    display: flex;
    font-size: 18px;
}

.valor-salario{
    padding-left: 2em;
}

.informações{
    color: var(--cinza-principal);
    display: flex;
    padding: 35px;
}

.depoimento{
    
    text-align: center;
    padding: 4em;
}

.depoimento > p{
    color: var(--vermelho-principal);
    padding: 2em;
    
}

.depoimento > span{
    font-size: 28px;
    padding-bottom: 3em;
}

.imagem-julia{

    padding: 4em;
}

.rodape{
    text-align: center;
    color: #D0D5DD;
}

.rodape > h1{

    color: black;
    font-size: 30px;
}

.rodape > p{
    color: var(--cinza-principal);
    font-size: 16px;
    padding: 2em;
}

.email{

    width: 350px;
    height: 36px;
    border-radius: 8px;
    color: white;
    border-style: solid;
    
}
